$color-primary:#2eca7f;
$color-secondary:#50a3a2;
$color-gray:#626262;
$color-gray-dark:#171717;
$color-white:#fff;
$color-black:#000;

$border-radius:5px;

$box-shadow-light:0 1rem 2rem rgba($color-black, 0.1);
$box-shadow-dark:0 2rem 4rem rgba($color-black, 0.8);

$box-shadow-main:2rem 2.5rem 3rem -2rem rgba($color-secondary,0.2)