@keyframes squareUp{
    0% {
        transform: translateY(0) rotate(0deg);
        
    }

    100%{
        transform: translateY(-120rem) rotate(360deg);
        
    }

}

@keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-20rem, 0, 0);
      transform: translate3d(-20rem, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  

  @keyframes fadeOutLeft {
    from {
      opacity: 1;
      
      
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(-20rem, 0, 0);
      transform: translate3d(-20rem, 0, 0);
     
    }
  }
  
  .fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
    
    
  }

  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;

  }